<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="js/myscript.js"></script>
</head>
<body ng-app="Myapp" ng-controller="Myctrl">
    <div class="container">
        <div class="jumbotron py-3">
            <h1 class=text-center>{{title}}</h1>
            <p class="pt-3">
        
                The virus that causes COVID-19 can spread from person to person through droplets that are expelled into the air when an infected person coughs or sneezes. If you are nearby, these droplets can enter your body through the nose, mouth or lungs.
        Recent studies suggest that COVID-19 may be spread by people who show no symptoms, according to the U.S. Centers for Disease Control and Prevention. That is why it is extremely important to take the necessary precautions to stop the spread of this virus.
            </p>

            <!--All Data-->

            <div class="row">
                <div class="col-md-4">
            <div class="card bg-warning text-white">
                <div class="card-body">
                    <h3>Positive Cases</h3>
                    <h3>{{all_data.confirmed.value}}</h3>
                </div>
            </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <h3>Recoverd Cases</h3>
                            <h3>{{all_data.recovered.value}}</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-danger text-white">
                        <div class="card-body">
                            <h3>Death Cases</h3>
                             <h3>{{all_data.deaths.value}}</h3>
                        </div>
                    </div>

                </div>
            </div>
            <!--End Data-->
            <input
            type="text"
            placeholder="enter a country"
            class="form-control mt-4"
            ng-model="c"
            ng-change="get_c_data()"
            />
            <!--c Data-->
            <h2 class="text-center">{{c}}</h2>
            <div class="row text-center mt-4" ng-if=c_data>
                <div class="col-md-4">
            <div class="card bg-warning text-white">
                <div class="card-body">
                    <h3>Positive Cases</h3>
                    <h3>{{c_data.confirmed.value}}</h3>
                </div>
            </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <h3>Recoverd Cases</h3>
                            <h3>{{c_data.recovered.value}}</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-danger text-white">
                        <div class="card-body">
                            <h3>Death Cases</h3>
                             <h3>{{c_data.deaths.value}}</h3>
                        </div>
                    </div>

                </div>
            </div>



            <!--End C Data-->
        </div>
        </div>
</body>
</html>